.triggerMenu {
    margin-right: 10%;
    font-size: 25px;
    line-height: 20px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
 .triggerMenu:hover {
    color: #1890ff;
  }
    
.logo5 {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
