* {
  box-sizing: border-box;
}

h5 {
  text-align: center;
}

h5 .fa-solid{
  color: black;
}

header {
    padding: 5px;
    text-align: center;
    text-shadow: 3px -1px rgb(13, 94, 114);
    background: linear-gradient(90deg, rgba(148,215,198,1) 0%, rgba(119,230,238,0.9136029411764706) 71%, rgba(27,115,122,1) 100%);
    color: white;
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: white;
}

nav ul {
    font-size: x-large;
  }
  
  nav li {
    float: left;
  }
  
 nav li a {
    display: block;
    color: rgb(13, 94, 114);
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
  }
  
  nav li a:hover:not(.active) {
    background-color: rgba(148,215,198,1);
}

 nav li a:hover {
    color: white;
    border-radius: 6px ;
}

  nav li a:hover .fa-solid {
  color: white;
}
  
  .active {
    background-color: rgb(13, 94, 114);
    color: white;
    font-weight: bold;
  }

  .active .fa-solid {
    color: white;
  }

  .fa-solid {
    padding-right: 5px;
    color:rgba(148,215,198,1);
  }

  article { 
   width: 80%;
   float:left;
   padding: 10px 15px 3px 5px;
   background-color: white ;
  }

  aside {
    width: 20%;
    padding: 10px 3px 3px 3px;
    float: right;
    font-style: italic;
    background-color: rgba(148,215,198,1);
  }
  
  aside ul {
    color:rgb(13, 94, 114);
  }

  aside li {
    padding: 8px 5px 8px 20px;
    background: white;
    font-size: 18px;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(148,215,198,1);
    color: white;
    text-align: center;
 }

 
